body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.display {
    background-color: #222;
    padding: 10px;
    text-align: right;
}

.display input {
    width: 100%;
    border: none;
    background-color: #222;
    color: #fff;
    font-size: 2em;
    text-align: right;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    border: 1px solid #ccc;
    padding: 20px;
    font-size: 1.5em;
    cursor: pointer;
    background-color: #fff;
}

button:hover {.pre-wrap{white-space:pre-wrap;}.pre-wrap-break{white-space:pre-wrap;word-break:break-word;}
    background-color: #f2f2f2;
}

.operator {
    background-color: #f2a900;
    color: #fff;
}
.operator-equal{
    background-color: #00a9f2;
    color: #fff;
}